version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend_c
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend_c
    ports:
      - "80:80"
    restart: always
